
$dark-cyan:hsl(185, 75%, 39%);
$very-dark-desaturated-blue:hsl(229, 23%, 23%);
$dark-grayish-blue:hsl(227, 10%, 46%);
$Dark-gray:hsl(0, 0%, 59%);
$font-family: 'Kumbh Sans', sans-serif;
$position-absolute:absolute;
    



body, html {
    background:$dark-cyan;
}
.container {
    margin:0 auto;
    display: flex;
    align-items: center;
}
.background-balls {
    position:relative;
    & .top-ball {
        position:$position-absolute;
        left:0;
        top:0;
    }
    & .bottom-ball {
        position:$position-absolute;
        right:0;
        bottom:0;
    }
    
}





/*****Mediaqueries******/

@media screen and (min-width: 375px) and (max-width: 767px) {
    body, html {
    height:100%;
  }
}
    